/logs
/saves
/crash-reports
/lightspeed-cache
/XaeroWaypoints
/XaeroWorldMap
.DS_Store
lightspeed-chache/**/*
usercache.json
minecraftinstance.json
xaerominimap_entities.json
/config/jei/world/**/*
/node_modules
/docs/**/mods_src/
/icon-exports-x32/
package-lock.json
.vscode/settings.json
kubejs/probe
usernamecache.json
patchouli_data.json
/resourcepacks
/shaderpacks
xaero/minimap
xaero/world-map
config/itlt-client.toml.bak
config/oculus.properties
config/xaeroworldmap-common.txt
.curseclient
rhino.local.properties
options.txt
