/logs
/saves
/crash-reports
/lightspeed-cache
/XaeroWaypoints
/XaeroWorldMap
/xaero
.DS_Store
lightspeed-chache/**/*
options.txt
usercache.json
minecraftinstance.json
xaerominimap_entities.json
/config/jei/world/**/*
/node_modules
/docs/**/mods_src/
/icon-exports-x32/
package-lock.json
.vscode/settings.json
kubejs/probe
usernamecache.json
patchouli_data.json